CompileFlags:
  CompilationDatabase: ../cmake-build-debug/
  Add: 
    - -I../cli/include/
    - -I../cli/include/commands/
    - -I../cli/_deps/cli11-src/include/
    - -I../lockfile/include/
    - -I../cmake-build-debug/_deps/tomlplusplus-src/include/
    - -I../src/include/logger/
